DATABASE_URL=postgresql://neondb_owner:npg_8oIFrsdH7exG@ep-dawn-cell-alnbxpsh-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
RESEND_API_KEY=re_xxxxxxxxxxxx
EMAIL_FROM=NST <noreply@yourdomain.com>
ADMIN_EMAILS=admin@yourdomain.com,other@yourdomain.com
AUTH_SECRET=generate-with-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost:3000
